{% extends 'base.html' %}
{% block title %}Edit {{ task.id }}{% endblock %}
{% block content %}
<div class="flex items-center flex-col">

    <h1 class="text-lg text-black dark:text-white font-medium mb-4">Edit {{task.content}}</h1>
    <form action="/edit/{{task.id}}" method="POST" class="flex gap-4">
        <input type="text" name="content" placeholder="Enter task"
            class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 max-w-sm shrink-0"
            required value="{{task.content}}" />
        <button type="submit" id="btn_add"
            class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
            Add
        </button>
    </form>
</div>
{% endblock %}